UL LI {
	LIST-STYLE-IMAGE: url(_images/botton2.gif); POSITION: relative; TOP: -12px
}
A:unknown LINK {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: none
}
.list_link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #8d1c1c; TEXT-DECORATION: none
}
.matrix {
	FONT-SIZE: 12px
}
.matrix A {
	COLOR: #93393a
}
.matrix_sub {
	BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(_images/botton2.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: #c9c9c9 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #c9c9c9 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.matrix_header {
	BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #c9c9c9 1px solid; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(_images/botton2.gif); PADDING-BOTTOM: 6px; BORDER-LEFT: #c9c9c9 1px solid; COLOR: #00469e; PADDING-TOP: 6px; BORDER-BOTTOM: #838383 1px solid; BACKGROUND-COLOR: #ffffff
}
.matrix_info {
	BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #c9c9c9 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #eae9e9 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.matrix_info_header {
	BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c9c9c9 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #c9c9c9 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #eae9e9 1px solid; BACKGROUND-COLOR: #ebeaea
}
.matrix_content {
	COLOR: #353535; BACKGROUND-COLOR: #ffffff
}
.matrix_left {
	BORDER-LEFT: #c9c9c9 1px solid
}
.home_box {
	BORDER-LEFT: #d8d8d8 1px solid
}
.mtDropdownMenu {
	LEFT: -1000px; OVERFLOW: hidden; POSITION: absolute; TOP: -1000px
}
.mtDropdownMenu .content {
	POSITION: absolute
}
.mtDropdownMenu .items {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; Z-INDEX: 2; LEFT: 0px; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; POSITION: relative; TOP: 0px
}
.top .items {
	BORDER-TOP: medium none
}
.mtDropdownMenu .item {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; CURSOR: hand; COLOR: #4a4b4b; BORDER-BOTTOM: medium none; TEXT-DECORATION: none
}
.mtDropdownMenu .background {
	Z-INDEX: 1; FILTER: alpha(opacity=85); LEFT: 0px; POSITION: absolute; TOP: 0px; moz-opacity: .8
}
.mtDropdownMenu .shadowRight {
	Z-INDEX: 3; FILTER: alpha(opacity=40); WIDTH: 2px; POSITION: absolute; TOP: 3px; moz-opacity: .4
}
.mtDropdownMenu .shadowBottom {
	Z-INDEX: 1; FILTER: alpha(opacity=40); LEFT: 3px; POSITION: absolute; HEIGHT: 2px; moz-opacity: .4
}
.mtDropdownMenu .hover {
	BACKGROUND: #ffffff; COLOR: #ff9900
}
.mtDropdownMenu .item IMG {
	MARGIN-LEFT: 12px
}
.subtext {
	FONT-SIZE: 12px; COLOR: #4a4a4a; LINE-HEIGHT: 12px
}
.subtext_title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #264771; LINE-HEIGHT: 22px
}
.BodContent {
	PADDING-LEFT: 6px; FONT-SIZE: 12px; COLOR: #4a4a4a; LINE-HEIGHT: 16px
}
.BodContent TD {
	FONT-SIZE: 12px; COLOR: #4a4a4a; LINE-HEIGHT: 16px
}
.BodContent A {
	COLOR: #8d1c1c; TEXT-DECORATION: none
}
.content_highlight {
	MARGIN-TOP: 12px; FONT-SIZE: 12px; COLOR: #808080; LINE-HEIGHT: 17px
}
.headernav {
	FONT-SIZE: 12px; COLOR: #d4d3d3
}
.headernav A {
	FONT-SIZE: 12px; COLOR: #d4d3d3
}
.headernav A:hover {
	FONT-SIZE: 12px; COLOR: #d4d3d3; TEXT-DECORATION: none
}
.list A {
	COLOR: #264771
}
.subadtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #953637; LINE-HEIGHT: 18px
}
.subad {
	PADDING-LEFT: 4px; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 12px
}
.hottopic A {
	FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.hottopic A:hover {
	FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.maintableborder {
	
}
.maintablebg {
	
}
.reg {
	BACKGROUND-IMAGE: url(_images/botton2.gif); BACKGROUND-REPEAT: no-repeat
}
.navbox {
	WIDTH: 204px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
.navsub {
	FONT-SIZE: 11px; BACKGROUND-COLOR: #ffffff; layer-background-color: #ffffff
}
.navsub A {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 4px; COLOR: #666666; PADDING-TOP: 4px; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.navsub A:hover {
	COLOR: #8d1c1c; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.nav {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #666666; PADDING-TOP: 4px; BACKGROUND-COLOR: #f1f1f1; layer-background-color: #F1F1F1
}
.nav A {
	FONT-WEIGHT: bold; COLOR: #666666; BACKGROUND-COLOR: #f1f1f1; TEXT-DECORATION: none
}
.nav A:hover {
	COLOR: #8d1c1c; BACKGROUND-COLOR: #f1f1f1
}
.footer {
	FONT-SIZE: 12px; LINE-HEIGHT: 17px
}
.footer A {
	FONT-SIZE: 12px; COLOR: #264771; LINE-HEIGHT: 17px
}
.footer A:hover {
	FONT-SIZE: 12px; COLOR: #264771; LINE-HEIGHT: 17px
}
#menubar {
	BORDER-RIGHT: #ad5800 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ad5800 1px solid; PADDING-LEFT: 2px; LEFT: 35px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ad5800 1px solid; WIDTH: 450px; PADDING-TOP: 2px; BORDER-BOTTOM: #ad5800 1px solid; POSITION: absolute; TOP: 245px; BACKGROUND-COLOR: #f9f1c8
}
#menubar A {
	BORDER-RIGHT: #f9f1c8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f9f1c8 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 24px; BORDER-LEFT: #f9f1c8 1px solid; COLOR: #993300; BORDER-BOTTOM: #f9f1c8 1px solid; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
#menubar A.active {
	BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ccc599; BORDER-TOP-COLOR: #ffffff; BORDER-RIGHT-COLOR: #ccc599
}
.menu .options {
	BORDER-RIGHT: #969696 1px solid; BORDER-TOP: #969696 1px solid; FILTER: Alpha(Opacity=88, Style=0); LEFT: 1016px; MARGIN-BOTTOM: 1px; BORDER-LEFT: #969696 1px solid; MARGIN-RIGHT: 1px; BORDER-BOTTOM: #969696 1px solid; POSITION: relative; TOP: 541px; BACKGROUND-COLOR: #ffffff; layer-background-color: #FFFFFF
}
.menu A {
	PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; TEXT-DECORATION: none
}
.menu A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #bccef2
}
#about {
	LEFT: 5px; POSITION: absolute; TOP: 200px
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #444444; LINE-HEIGHT: 25px
}
.domain_box {
	BORDER-RIGHT: #a6a6a6 1px solid; BORDER-TOP: #a6a6a6 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #a6a6a6 1px solid; WIDTH: 175px; COLOR: #777777; BORDER-BOTTOM: #a6a6a6 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #ffffff
}
.login {
	BORDER-RIGHT: #c4c4c4 1px solid; BORDER-TOP: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid; BORDER-BOTTOM: #c4c4c4 1px solid; BACKGROUND-COLOR: #e9e9e9
}
.login INPUT {
	FONT-SIZE: 11px; COLOR: #666666; HEIGHT: 22px
}
.login checkbox {
	COLOR: #666666
}
.login TD {
	BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; COLOR: #555555; BORDER-BOTTOM: #c4c4c4 1px solid
}
.login .title {
	BACKGROUND-COLOR: #d0d0d0
}
.login .title TD {
	FONT-WEIGHT: bold; BORDER-BOTTOM-COLOR: #c4c4c4; BORDER-TOP-COLOR: #ffffff
}
HR {
	COLOR: #dddddd; HEIGHT: 1px
}
.subtitle-color {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #8d1c1c; LINE-HEIGHT: 25px
}
.subsubtitle-lighter {
	COLOR: #999999
}
.subsubtitle-color {
	COLOR: #8d1c1c
}
.notebox {
	FONT-SIZE: 11px; WIDTH: 100%; COLOR: #777777
}
.contactboxform SELECT {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 215px; COLOR: #666666; HEIGHT: 22px
}
.contactboxform INPUT {
	FONT-SIZE: 11px; WIDTH: 215px; COLOR: #666666; HEIGHT: 22px
}
.contactboxform TEXTAREA {
	FONT-SIZE: 11px; WIDTH: 215px; COLOR: #666666; HEIGHT: 125px
}
.top {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.top:link {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.top:visited {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.top:active {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.top:hover {
	COLOR: #8d1c1c; TEXT-DECORATION: none
}
.navorderback {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #cccccc; TEXT-DECORATION: none
}
.navorderback A:hover {
	FONT-WEIGHT: normal; COLOR: #8d1c1c; TEXT-DECORATION: none
}
.navorderback A:link {
	FONT-WEIGHT: normal; COLOR: #cccccc; TEXT-DECORATION: none
}
visited {
	FONT-WEIGHT: normal; COLOR: #cccccc; TEXT-DECORATION: none
}
active {
	FONT-WEIGHT: normal; COLOR: #cccccc; TEXT-DECORATION: none
}
.app {
	BORDER-RIGHT: #c4c4c4 1px solid; BORDER-TOP: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid; WIDTH: 100%; BORDER-BOTTOM: #c4c4c4 1px solid; BACKGROUND-COLOR: #e9e9e9
}
.app A {
	COLOR: #4a4b4b; TEXT-DECORATION: none
}
.app A:hover {
	COLOR: #8d1c1c; TEXT-DECORATION: none
}
LINK {
	COLOR: #8d1c1c; TEXT-DECORATION: none
}
visited {
	COLOR: #8d1c1c; TEXT-DECORATION: none
}
.app TD {
	BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; COLOR: #555555; BORDER-BOTTOM: #c4c4c4 1px solid
}
.app .title {
	BACKGROUND-COLOR: #d0d0d0
}
.app .title TD {
	FONT-WEIGHT: bold; BORDER-BOTTOM-COLOR: #c4c4c4; BORDER-TOP-COLOR: #ffffff
}
.app_highlighted {
	BACKGROUND-COLOR: #f4f4f4
}
.btn {
	BORDER-RIGHT: 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: 1px outset; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(_images/button2.gif); PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 1px; BORDER-LEFT: 1px outset; WIDTH: 50px; PADDING-TOP: 1px; BORDER-BOTTOM: 1px outset; backgroung-image: repeat-x
}
.btn_med {
	BORDER-RIGHT: 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: 1px outset; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(_images/button2.gif); PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 1px; BORDER-LEFT: 1px outset; WIDTH: 106px; PADDING-TOP: 1px; BORDER-BOTTOM: 1px outset; backgroung-image: repeat-x
}
.btn_wide {
	BORDER-RIGHT: 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: 1px outset; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(_images/button2.gif); PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 1px; BORDER-LEFT: 1px outset; WIDTH: 150px; PADDING-TOP: 1px; BORDER-BOTTOM: 1px outset; backgroung-image: repeat-x
}
.app_large {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
.app_desc {
	COLOR: #656565
}
.error {
	BORDER-RIGHT: #ff0000 2px solid; BORDER-TOP: #ff0000 2px solid; BORDER-LEFT: #ff0000 2px solid; WIDTH: 95%; BORDER-BOTTOM: #ff0000 2px solid; BACKGROUND-COLOR: #ffdede
}
.error TD {
	FONT-SIZE: 12px; COLOR: #ff0000
}
.error .title {
	BACKGROUND-COLOR: #ff9393
}
.error .title TD {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
S .info {
	BORDER-RIGHT: #0000ff 2px solid; BORDER-TOP: #0000ff 2px solid; BORDER-LEFT: #0000ff 2px solid; WIDTH: 95%; BORDER-BOTTOM: #0000ff 2px solid; BACKGROUND-COLOR: #dedeff
}
.info TD {
	FONT-SIZE: 12px; COLOR: #0000ff
}
.info .title {
	BACKGROUND-COLOR: #9393ff
}
.info .title TD {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
.ordernav {
	FONT-SIZE: 11px; BACKGROUND-COLOR: #ffffff; layer-background-color: #ffffff
}
.ordernav A {
	COLOR: #666666; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.ordernav A:hover {
	COLOR: #8d1c1c; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.ordernav .title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.ordernav .current {
	FONT-WEIGHT: bold
}
.select {
	BORDER-TOP: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid
}
.primary-highlight-color {
	COLOR: #8d1c1c
}
.type-small-light {
	FONT-SIZE: 11px; COLOR: #888888
}
.table1 {
	FONT-SIZE: 11px
}
.table1 TD {
	FONT-SIZE: 11px
}
.table1 TR {
	FONT-SIZE: 11px
}
.type-light {
	COLOR: #888888
}
.color {
	FONT-SIZE: 12px; COLOR: #d7fd62; TEXT-DECORATION: none
}
.snail1 {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
.line {
	FONT-SIZE: 12px; LINE-HEIGHT: 25px; TEXT-DECORATION: none
}
.unnamed1 {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.unnamed2 {
	FONT-SIZE: 12px; LINE-HEIGHT: 25px; TEXT-DECORATION: none
}
.linkred {
	FONT-SIZE: 9pt; COLOR: #990000; TEXT-DECORATION: none
}
A.linkred:link {
	FONT-SIZE: 9pt; COLOR: #990000; TEXT-DECORATION: none
}
A.linkred:visited {
	FONT-SIZE: 9pt; COLOR: #990000; TEXT-DECORATION: none
}
A.linkred:hover {
	FONT-SIZE: 9pt; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.linkred:active {
	FONT-SIZE: 9pt; COLOR: #cc3300; TEXT-DECORATION: underline
}
